In [7]:
import io
import pandas as pd

Paste your 96 well format OD data from Excel between the upper ''' and lower '''.

In [8]:
rawData = '''
1.9898	2.0525	1.0152	1.0193	1.4698	1.4346	1.3914	1.3189	1.0561	1.0315	0.9776	0.8982
1.7263	1.8067	1.3113	1.3123	1.4003	1.4687	1.1744	1.1172	1.3803	1.3779	1.0289	0.9687
1.3515	1.2988	1.3019	1.268	1.5094	1.4188	1.3647	1.3623	1.2337	1.1531	1.0065	1.006
0.5419	0.5775	1.2734	1.168	1.2681	1.234	1.1909	1.1687	1.4781	1.4622	1.2507	1.2105
0.1998	0.2059	1.4484	1.3741	1.2717	1.2308	1.1849	1.195	1.2694	1.2222	1.3079	1.2981
0.0852	0.0909	1.37	1.3244	1.1819	1.1219	1.4149	1.3923	1.5198	1.4659	1.2615	1.3318
1.2145	1.2886	1.4299	1.3123	1.4536	1.4983	1.3706	1.3367	1.1608	1.1361	1.4381	1.331
0.5247	0.5226	1.3055	1.215	1.5753	1.6669	1.2898	1.3052	1.2512	1.2417	1.1577	1.2308
'''

plateTemplate = pd.DataFrame(index=list('ABCDEFGH'), columns=['1','2','3','4','5','6','7','8','9','10','11','12'])

rawData = pd.read_table(io.StringIO(rawData), delim_whitespace=True, names=plateTemplate.columns)
rawData.index = plateTemplate.index
rawData

,1,2,3,4,5,6,7,8,9,10,11,12
A,1.9898,2.0525,1.0152,1.0193,1.4698,1.4346,1.3914,1.3189,1.0561,1.0315,0.9776,0.8982
B,1.7263,1.8067,1.3113,1.3123,1.4003,1.4687,1.1744,1.1172,1.3803,1.3779,1.0289,0.9687
C,1.3515,1.2988,1.3019,1.2680,1.5094,1.4188,1.3647,1.3623,1.2337,1.1531,1.0065,1.0060
D,0.5419,0.5775,1.2734,1.1680,1.2681,1.2340,1.1909,1.1687,1.4781,1.4622,1.2507,1.2105
E,0.1998,0.2059,1.4484,1.3741,1.2717,1.2308,1.1849,1.1950,1.2694,1.2222,1.3079,1.2981
F,0.0852,0.0909,1.3700,1.3244,1.1819,1.1219,1.4149,1.3923,1.5198,1.4659,1.2615,1.3318
G,1.2145,1.2886,1.4299,1.3123,1.4536,1.4983,1.3706,1.3367,1.1608,1.1361,1.4381,1.3310
H,0.5247,0.5226,1.3055,1.2150,1.5753,1.6669,1.2898,1.3052,1.2512,1.2417,1.1577,1.2308

Paste your 96 well format plate template between the upper ''' and lower '''.

In [9]:
plateLayout = '''
St01	St01	S01	S01	S09	S09	S17	S17	S25	S25	S33	S33
St02	St02	S02	S02	S10	S10	S18	S18	S26	S26	S34	S34
St03	St03	S03	S03	S11	S11	S19	S19	S27	S27	S35	S35
St04	St04	S04	S04	S12	S12	S20	S20	S28	S28	S36	S36
St05	St05	S05	S05	S13	S13	S21	S21	S29	S29	S37	S37
St06	St06	S06	S06	S14	S14	S22	S22	S30	S30	S38	S38
Co01	Co01	S07	S07	S15	S15	S23	S23	S31	S31	S39	S39
Co02	Co02	S08	S08	S16	S16	S24	S24	S32	S32	S40	S40
'''

plateLayout = pd.read_table(io.StringIO(plateLayout), delim_whitespace=True, names=plateTemplate.columns)
plateLayout.index = plateTemplate.index
plateLayout

      1     2    3    4    5    6    7    8    9   10   11   12
A  St01  St01  S01  S01  S09  S09  S17  S17  S25  S25  S33  S33
B  St02  St02  S02  S02  S10  S10  S18  S18  S26  S26  S34  S34
C  St03  St03  S03  S03  S11  S11  S19  S19  S27  S27  S35  S35
D  St04  St04  S04  S04  S12  S12  S20  S20  S28  S28  S36  S36
E  St05  St05  S05  S05  S13  S13  S21  S21  S29  S29  S37  S37
F  St06  St06  S06  S06  S14  S14  S22  S22  S30  S30  S38  S38
G  Co01  Co01  S07  S07  S15  S15  S23  S23  S31  S31  S39  S39
H  Co02  Co02  S08  S08  S16  S16  S24  S24  S32  S32  S40  S40

Check that the standards values listed below are correct.

In [93]:
standardConc = pd.Series([0, .25, 1, 4, 16, 64], index=['St01', 'St02', 'St03', 'St04', 'St05', 'St06'], name='Conc')

In [97]:
dataTable = pd.DataFrame({'ID':plateLayout.values.ravel(), 'ODs': rawData.values.ravel()})
standardCurve = dataTable.groupby('ID').mean()
standardCurve = pd.concat([standardConc, standardCurve], axis=1, join_axes=[standardConc.index])
standardCurve

       Conc      ODs
St01   0.00  2.02115
St02   0.25  1.76650
St03   1.00  1.32515
St04   4.00  0.55970
St05  16.00  0.20285
St06  64.00  0.08805

In [102]:
x = standardCurve['Conc'].tolist()
y = standardCurve['ODs'].tolist()